
:root {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

}

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: white;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}
.demoLogoVertical {
  font-size: 16px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  padding-right: 16px;

}

.demoLogoVerticalSize {
  padding-left: 4.5rem;
  padding-right: 5.5rem;
}
.mainContent {
  display: flex;
  padding: .5rem;
}

.customHeader {
  display: flex;
  justify-content: space-between;
}



.ant-drawer-header{
  padding: 18px 22px 17px 22px !important;
  border-bottom: 3px solid #EC1C24 !important;
}

.ant-drawer-body{
  padding-top: .20rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width:576px){
  .headerSm {
    width: 20vw;
  }
}
